<IfModule mod_rewrite.c>
RewriteEngine on
# ---PHPstart项目中，所有.php的文件都强制转到入口文件-----
RewriteCond %{REQUEST_FILENAME} \.php$ [NC]
RewriteCond %{REQUEST_URI} !^\/index\.php [NC]
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,NC,L]
# ---非静态资源的404错误转PHPstart----------------------------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(js|ico|gif|jpg|png|css|swf)$ [NC]
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,NC,L]
</IfModule>
