<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} \.(php|html|htm)$ [NC,OR]
RewriteCond %{REQUEST_URI} !\..*$ [NC]
RewriteRule ^(.*)$ phpstart.php/$1 [QSA,PT,NC,L]
</IfModule>
